.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-heading #{action_name.humanize} Question
    .panel-body.row
      .col-md-10.col-md-offset-1
        = simple_form_for [@exam, @paper, @question], :url => exam_paper_questions_path(@paper.exam_id, @paper, @question) do |f|
          = f.error_notification

          .form-inputs
            = f.input :title
            = f.input :topic_id, as: :select, collection: Topic.all
            = f.input :answer
            = f.input :marks
            = f.input :negative_marks

          .form-actions
            = f.button :submit
