%div
  %h6.text-uppercase.pull-left= @paper.name
  %p.pull-right
    = link_to new_exam_paper_question_path(@paper.exam_id, @paper), class: "btn btn-default btn-sm" do
      %i.fa.fa-plus
      Add
    = link_to new_exam_paper_question_path(@paper.exam_id, @paper), class: "btn btn-default btn-sm" do
      %i.fa.fa-upload
      Import
    = link_to new_exam_paper_question_path(@paper.exam_id, @paper), class: "btn btn-default btn-sm" do
      %i.fa.fa-download
      Export
  .clearfix
%table.table
  %thead
    %tr
      %th Question
      %th Answer
      %th Topic
      %th Marks
      %th Negative marks
      %th Actions

  %tbody
    - @questions.each do |question|
      %tr
        %td= question.title
        %td= question.answer
        %td= question.topic
        %td= question.marks
        %td= question.negative_marks
        %td
          = link_to 'Edit', edit_exam_paper_question_path(@paper.exam_id, @paper, question), class: "btn btn-default btn-xs"
          = link_to 'Remove', exam_paper_question_path(@paper.exam_id, @paper, question), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs"

%br
