- @exams.in_groups_of(2, false) do |exam_group|
  .row
    - exam_group.each do |exam|
      .col-md-6
        .panel.panel-default
          .panel-heading
            .pull-left= exam.name
            .pull-right
              - if Time.now >= exam.start_time and Time.now < exam.end_time
                = link_to 'Start Exam', '', class: 'btn btn-primary btn-xs'
              - elsif Time.now < exam.start_time
                = distance_of_time_in_words_to_now exam.start_time
                to go
              - else Time.now >= exam.end_time
                expired!
            .clearfix
          %ul.list-group
            %li.list-group-item
              .pull-left Start at
              .pull-right= nice_time exam.start_time
              .clearfix
            %li.list-group-item
              .pull-left Finish at
              .pull-right= nice_time exam.end_time
              .clearfix
            %li.list-group-item
              .pull-left Batch
              .pull-right= exam.batch.name
              .clearfix
            %li.list-group-item
              .pull-left Institute
              .pull-right= exam.account.name
              .clearfix
            %li.list-group-item
              .pull-left= link_to 'Papers', student_exam_papers_path(exam)
              .pull-right= link_to exam.papers.count, student_exam_papers_path(exam)
              .clearfix
.clearfix
