.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand(href="#")
      %i.fa.fa-graduation-cap
      - if @current_account
        = @current_account.name
      - else
        Examholic
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav.pull-right
        - if teacher_signed_in?
          %li{:class => ('active' if controller_name == 'dashboard')}
            = link_to root_path do
              %i.fa.fa-home
              Dashboard
          - if @current_account
            %li{:class => ('active' if controller_name == 'exams')}
              = link_to account_exams_path(@current_account) do
                %i.fa.fa-bars
                Exams
            %li{:class => ('active' if controller_name == 'reports')}
              = link_to "/reports" do
                %i.fa.fa-check-square
                Reports
            %li{:class => ('active' if controller_name == 'batches' or controller_name == 'students')}
              = link_to account_batches_path(@current_account) do
                %i.fa.fa-users
                Batches
          %li.dropdown
            = link_to "", :class => "dropdown-toggle", :role => "button", "aria-expanded" => false, :data => {:toggle => "dropdown"} do
              = current_teacher.name
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              - current_teacher.owned_accounts.each do |account|
                %li
                  = link_to set_current_account_path(account.id), method: :put do
                    %i.fa{class: (@current_account.try(:id) == account.id ? 'fa-circle' : 'fa-circle-o')}
                    = account.name
              %li.divider
              %li
                = link_to edit_teacher_registration_path do
                  %i.fa.fa-user
                  Edit Profile
              %li
                = link_to destroy_teacher_session_path, :method => :delete do
                  %i.fa.fa-power-off
                  Logout
        - elsif student_signed_in?
          %li{:class => ('active' if controller_name == 'dashboard')}= link_to "Dashboard", "/"
          %li{:class => ('active' if controller_name == 'exams')}= link_to "Exams", "/exams"
          %li{:class => ('active' if controller_name == 'reports')}
            = link_to "/reports" do
              %i.fa.fa-area-chart
              Reports
          %li.dropdown
            = link_to "", :class => "dropdown-toggle", :role => "button", "aria-expanded" => false, :data => {:toggle => "dropdown"} do
              = current_student.name
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                = link_to "/" do
                  %i.fa.fa-gears
                  Settings
              %li.divider
              %li
                = link_to edit_student_registration_path do
                  %i.fa.fa-user
                  Edit Profile
              %li
                = link_to destroy_student_session_path, :method => :delete do
                  %i.fa.fa-power-off
                  Logout
        - else
          %li.dropdown
            = link_to "", :class => "dropdown-toggle", :role => "button", "aria-expanded" => false, :data => {:toggle => "dropdown"} do
              Students
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li= link_to "Login", new_student_session_path
              %li= link_to "Signup", new_student_registration_path
              %li= link_to "Forgot Password?", new_student_password_path
          %li.dropdown
            = link_to "", :class => "dropdown-toggle", :role => "button", "aria-expanded" => false, :data => {:toggle => "dropdown"} do
              Teachers
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li= link_to "Login", new_teacher_session_path
              %li= link_to "Signup", new_teacher_registration_path
              %li= link_to "Forgot Password?", new_teacher_password_path
