.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand(href="/")
      %i.fa.fa-graduation-cap
      Examholic
      - if @current_account
        %small{style: "font-size:11px"}= "/ #{@current_account.name}"
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav.pull-right
        %li{:class => ('active' if controller_name == 'accounts' and action_name == 'dashboard')}
          = link_to dashboard_manage_accounts_path do
            %i.fa.fa-home
            Dashboard
        - if @current_account
          %li{:class => ('active' if controller_name == 'exams')}
            = link_to manage_account_exams_path(@current_account) do
              %i.fa.fa-check-square
              Exams
          %li{:class => ('active' if controller_name == 'batches' or controller_name == 'students')}
            = link_to manage_account_batches_path(@current_account) do
              %i.fa.fa-users
              Batches
        - if teacher_signed_in?
          %li{:class => ('active' if controller_name == 'accounts' and action_name != 'dashboard')}
            = link_to manage_accounts_path do
              %i.fa.fa-bars
              Accounts
          %li.dropdown
            = link_to "", :class => "dropdown-toggle", :role => "button", "aria-expanded" => false, :data => {:toggle => "dropdown"} do
              = current_teacher.name
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              - current_teacher.accounts.each do |account|
                %li{class: "#{'active' if account.id == current_account.id}"}
                  = link_to account.name, set_current_manage_account_path(account.id), method: :put
              %li.divider
              %li
                = link_to edit_teacher_registration_path do
                  %i.fa.fa-user
                  Edit Profile
              %li
                = link_to destroy_teacher_session_path, :method => :delete do
                  %i.fa.fa-power-off
                  Logout
