.col-md-8.col-md-offset-2
  .panel.panel-default
    .panel-heading
      .panel-title Question .1
    .panel-body= @question.title.html_safe
  %br
  = form_tag paper_session_answers_path(@paper_session, question_id: @question.id) do
    = hidden_field_tag :answer
    #answers.list-group
      - (1..5).each do |i|
        - if @question["option#{i}"].present?
          = link_to "#", class: 'list-group-item' do
            %span.fa.fa-square-o{data: {answer: "option#{i}"}}
            &nbsp;
            = @question["option#{i}"]

    %div
      .pull-left= submit_tag "Next Question", class: 'btn btn-primary'
      .pull-right
        = submit_tag "Skip Question", class: 'btn btn-default'
        = submit_tag "Quit Paper", class: 'btn btn-danger'
      .clearfix

:javascript
  $('#answers.list-group a').click(function(){
    var element = $(this);
    var checked = $('#answers .fa-check-square-o');
    checked.removeClass('fa-check-square-o');
    checked.addClass('fa-square-o');
    element = element.find('span.fa');
    element.removeClass('fa-square-o');
    element.addClass('fa-check-square-o');
    $('#answer').val($('#answers .fa-check-square-o').attr('data-answer'));
    return false;
  });
