.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-heading #{action_name.humanize} Subject
    .panel-body.row
      .col-md-10.col-md-offset-1
        = simple_form_for [:manage, @current_account, @subject] do |f|
          = f.input :name
          = f.button :submit, :class => 'btn-primary'
          = link_to 'Cancel', manage_account_subjects_path(@current_account), :class => 'btn btn-default'
