.col-md-4.col-md-offset-4
  .panel.panel-default
    .panel-heading #{action_name.humanize} Student
    .panel-body.row
      .col-md-10.col-md-offset-1
        = simple_form_for [:manage, @current_account, @batch, @student] do |f|
          = f.error_notification

          .form-inputs
            = f.input :name
            = f.input :email
            = f.input :phone
            = f.input :address

          .form-actions
            = f.button :submit
