%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th Actions
      
  %tbody
    - @subscriptions.each do |subscription|
      %tr
        %td= subscription.student.name
        %td= subscription.student.email
        %td
          = link_to 'Show', subscription
          = link_to 'Edit', edit_subscription_path(subscription)
          = link_to 'Destroy', subscription, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Add Student', new_batch_subscription_path(@batch)
