%h2 Exam - #{@exam.name}
%table.table.table-condensed
  %tbody
    - @papers.each do |paper|
      %tr
        %td
          %h4= paper.name
        %td.text-right
          %h4= paper.duration.to_s + ' mins'
          %cite Duration
        %td.text-right
          %h4= paper.marks_per_question
          %cite Marks
        %td.text-right
          %h4= paper.negative_marks_per_question
          %cite -ve Marks
        %td.text-right
          %h4= paper.questions.count
          %cite Questions
