.panel.panel-default
  .panel-heading= @exam.name
  %br
  .container
    .row
      - @exam.papers.each do |paper|
        .col-md-6
          .panel.panel-default
            .panel-heading
              .pull-left= paper.name
              .pull-right
                - if current_student.current_paper_id
                  - if current_student.current_paper_id == paper.id
                    = link_to 'Resume Paper', exam_paper_exam_sessions_path(@exam, paper), method: :post, class: 'btn btn-primary btn-xs'
                    = link_to 'Finish Paper', exam_paper_exam_sessions_path(@exam, paper), method: :post, class: 'btn btn-primary btn-xs'
                - elsif @exam.live?
                  = link_to 'Begin Paper', exam_paper_exam_sessions_path(@exam, paper), method: :post, class: 'btn btn-primary btn-xs'
              .clearfix
            %ul.list-group
              %li.list-group-item
                .pull-left Duration
                .pull-right= paper.duration
                .clearfix
              %li.list-group-item
                .pull-left Status
                .pull-right= paper.status
                .clearfix
              %li.list-group-item
                .pull-left Marks per question
                .pull-right= paper.marks_per_question
                .clearfix
              %li.list-group-item
                .pull-left Negative marks per question
                .pull-right= paper.negative_marks_per_question
                .clearfix
.clearfix
