.col-md-4.col-md-offset-4
  .panel.panel-default
    .panel-heading #{action_name.humanize} Student
    .panel-body.row
      .col-md-10.col-md-offset-1
        = simple_form_for([:manage, @current_account, @exam, @paper]) do |f|
          = f.error_notification

          .form-inputs
            = f.input :name
            = f.input :status, as: :select, collection: [:draft, :publish], default: :draft
            = f.input :duration
            = f.input :marks_per_question
            = f.input :negative_marks_per_question

          .form-actions
            = f.button :submit
