= simple_form_for(@batch) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :account_id, collection: current_teacher.owned_accounts

  .form-actions
    = f.button :submit
