%div
  %h6.text-uppercase.pull-left Student Batches
  %p.pull-right
    = link_to new_batch_path, class: "btn btn-default btn-sm" do
      %i.fa.fa-plus
      New Batch
  .clearfix
- @batches.in_groups_of(2, false) do |batch_group|
  .row
    - batch_group.each do |batch|
      .col-md-6
        .panel.panel-default
          .panel-heading
            .pull-left= batch.name
            .pull-right
              = link_to edit_batch_path(batch) do
                %i.fa.fa-edit
              &nbsp;
              = link_to batch, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                %i.fa.fa-trash-o
            .clearfix
          %ul.list-group
            %li.list-group-item
              .pull-left Account
              .pull-right= batch.account.name
              .clearfix
            %li.list-group-item
              .pull-left Exams
              .pull-right= batch.exams.count
              .clearfix
            %li.list-group-item
              .pull-left Papers
              .pull-right= batch.papers.count
              .clearfix
            %li.list-group-item
              .pull-left= link_to 'Students', batch_students_path(batch)
              .pull-right= link_to batch.students.count, batch_students_path(batch)
              .clearfix
.clearfix
