%h2 Batches
%table.table.table-condensed
  %tbody
    - @batches.each do |batch|
      %tr
        %td
          %h4= batch.name
        %td.text-right
          %h4= link_to batch.students.count, batch_students_path(batch)
          %cite Students
        %td.text-right
          %h4= batch.exams.count
          %cite Exams
        %td.text-right
          %h4= batch.account.name
          %cite Account
        %td.text-right
          %h4= distance_of_time_in_words_to_now(batch.created_at) + ' ago'
          %cite Started
