.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-heading #{action_name.humanize} Exam
    .panel-body.row
      .col-md-10.col-md-offset-1
        = simple_form_for @exam do |f|
          = f.input :name
          = f.input :duration
          = f.input :start_time, :as => :string
          = f.input :end_time, :as => :string
          = f.input :account_id, :as => :select, :collection => Account.all
          = f.button :submit, :class => 'btn-primary'
          = link_to 'Cancel', exams_path, :class => 'btn btn-default'
