%h2 Exams
%table.table.table-condensed
  %tbody
    - @exams.each do |exam|
      %tr
        %td
          %h4= exam.name
          %cite
            - if exam.live?
              = link_to 'Begin Exam', new_exam_exam_session_path(exam)
            - elsif exam.upcoming?
              = distance_of_time_in_words_to_now exam.start_time
              to go
            - else exam.expired?
              expired!
        %td.text-right
          %h4= link_to exam.papers.count, exam_papers_path(exam)
          %cite Papers
        %td.text-right
          %h4= distance_of_time_in_words(exam.start_time, exam.end_time)
          %cite Duration
        %td.text-right
          %h4= exam.batch.name
          %cite Batch
        %td.text-right
          %h4= exam.account.name
          %cite Account
        %td.text-right
          %h4= nice_time exam.start_time
          %cite Starts At
