%h2 Exams
%table.table.table-condensed
  %tbody
    - @exams.each do |exam|
      %tr
        %td
          %h4= exam.name
          - if exam.live?
            %cite= link_to 'Begin Exam', new_exam_exam_session_path(exam)
        %td.text-right
          %h4= link_to exam.papers.count, exam_papers_path(exam)
          %cite Papers
        %td.text-right
          %h4= distance_of_time_in_words(exam.start_time, exam.end_time)
          %cite Duration
        %td.text-right
          %h4= exam.batch.name
          %cite Batch
        %td.text-right
          %h4= exam.account.name
          %cite Account
        - if exam.expired?
          %td.text-right
            %h4= distance_of_time_in_words_to_now(exam.end_time) + ' ago'
            %cite Finished
        - elsif exam.upcoming?
          %td.text-right
            %h4= distance_of_time_in_words_to_now exam.start_time
            %cite Starts In
        - elsif exam.live?
          %td.text-right
            %h4= distance_of_time_in_words_to_now(exam.end_time)
            %cite Finishes In
