!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "ExamHolic"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"

  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="#")
          %i.fa.fa-graduation-cap
          Examholic
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav.pull-right
            - if teacher_signed_in?
              %li{:class => ('active' if controller_name == 'dashboard')}
                = link_to "/" do
                  %i.fa.fa-dashboard
                  Dashboard
              %li{:class => ('active' if controller_name == 'exams')}= link_to "Exams", "/exams"
              %li{:class => ('active' if controller_name == 'papers')}= link_to "Papers", "/papers"
              %li{:class => ('active' if controller_name == 'reports')}
                = link_to "/reports" do
                  %i.fa.fa-area-chart
                  Reports
              %li{:class => ('active' if controller_name == 'batches' or controller_name == 'subscriptions')}
                = link_to "/batches" do
                  %i.fa.fa-users
                  Batches
              %li{:class => ('active' if controller_name == 'accounts')}= link_to "Accounts", "/accounts"
              %li.dropdown
                = link_to "", :class => "dropdown-toggle", :role => "button", "aria-expanded" => false, :data => {:toggle => "dropdown"} do
                  = current_teacher.name
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    = link_to edit_teacher_registration_path do
                      %i.fa.fa-user
                      Edit Profile
                  %li
                    = link_to destroy_teacher_session_path, :method => :delete do
                      %i.fa.fa-power-off
                      Logout
            - elsif student_signed_in?
              %li{:class => ('active' if controller_name == 'dashboard')}= link_to "Dashboard", "/"
              %li{:class => ('active' if controller_name == 'exams')}= link_to "Exams", "/exams"
              %li{:class => ('active' if controller_name == 'papers')}= link_to "Papers", "/papers"
              %li{:class => ('active' if controller_name == 'reports')}
                = link_to "/reports" do
                  %i.fa.fa-area-chart
                  Reports
              %li.dropdown
                = link_to "", :class => "dropdown-toggle", :role => "button", "aria-expanded" => false, :data => {:toggle => "dropdown"} do
                  = current_student.name
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    = link_to "/" do
                      %i.fa.fa-gears
                      Settings
                  %li.divider
                  %li
                    = link_to edit_student_registration_path do
                      %i.fa.fa-user
                      Edit Profile
                  %li
                    = link_to destroy_student_session_path, :method => :delete do
                      %i.fa.fa-power-off
                      Logout
            - else
              %li.dropdown
                = link_to "", :class => "dropdown-toggle", :role => "button", "aria-expanded" => false, :data => {:toggle => "dropdown"} do
                  Students
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li= link_to "Login", new_student_session_path
                  %li= link_to "Signup", new_student_registration_path
                  %li= link_to "Forgot Password?", new_student_password_path
              %li.dropdown
                = link_to "", :class => "dropdown-toggle", :role => "button", "aria-expanded" => false, :data => {:toggle => "dropdown"} do
                  Teachers
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li= link_to "Login", new_teacher_session_path
                  %li= link_to "Signup", new_teacher_registration_path
                  %li= link_to "Forgot Password?", new_teacher_password_path
    .container
      .row
        = bootstrap_flash
        = yield
      %br
      %br
      %footer
        %p &copy; ExamHolic 2015
