%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th Phone
      %th Created At
      %th Actions
      
  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.name
        %td= account.email
        %td= account.phone
        %td= account.created_at
        %td
          = link_to 'Edit', edit_account_path(account)
          |
          = link_to 'Destroy', account, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Account', new_account_path
