%h2 Institutes
%table.table.table-condensed
  %tbody
    - @accounts.each do |account|
      %tr
        %td
          %h4= account.name
          %cite
            m:
            = account.phone
        %td.text-right
          %h4= account.exams.count
          %cite Exams
        %td.text-right
          %h4= account.batches.count
          %cite Batches
        %td.text-right
          %h4= account.students.count
          %cite Students
        %td.text-right
          %h4= account.teachers.count
          %cite Teachers
        %td.text-right
          %h4= account.email
          %cite Email
        %td.text-right
          %h4= distance_of_time_in_words_to_now account.created_at
          %cite Age
